@use "../../styles/variables.scss" as *;

.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .backLink {
    width: fit-content;
    color: $color-text-secondary;
    text-decoration: none;
  }

  .backLink:hover {
    color: $color-primary;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .date {
      font-size: 0.8rem;
      color: $color-text-secondary;
    }
  }

  .section,
  .tasks {
    padding: 1.5rem;
    border: 1px solid $color-border;
    border-radius: 0.7rem;
    background-color: $color-surface;

    .sectionTitle {
      margin-bottom: 0.7rem;
      font-size: 1rem;
      color: $color-text;
    }

    .description {
      line-height: 1.7;
      color: $color-text-secondary;
    }
  }

  .action {
    display: flex;
    gap: 0.5rem;

    .edit,
    .delete,
    .addTask {
      padding: 0.4rem 0.6rem;
      border-radius: 0.7rem;
      cursor: pointer;
      transition:
        transform 0.2s ease,
        background-color 0.2s ease;
    }

    .edit {
      border: 1px solid $color-warning;
      background-color: $color-warning-background;
      color: $color-warning;
    }

    .edit:hover {
      background-color: $color-warning-background-hover;
      transform: translateY(1px);
    }

    .delete {
      border: 1px solid $color-danger;
      background-color: $color-danger-bachground;
      color: $color-danger;
    }

    .delete:hover {
      background-color: $color-danger-bachground-hover;
      transform: translateY(1px);
    }

    .addTask {
      border: 1px solid $color-success;
      background-color: $color-success-background;
      color: $color-success;
    }

    .addTask:hover {
      background-color: $color-success-background-hover;
      transform: translateY(1px);
    }
  }
}
