@use "../../../styles/variables.scss" as *;

.container {
  padding: 1rem;
  border: 1px solid $color-border;
  background-color: $color-surface;
  border-radius: 0.7rem;

  .title {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    color: $color-text-secondary;
  }

  .chart {
    width: 100%;
    height: 280px;
  }
}
