@use "../../styles/variables.scss" as *;

.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      margin: 0;
      font-size: 1.8rem;
      font-weight: 600;
    }

    .subtitle {
      margin: 0;
      color: $color-text-secondary;
    }
  }

  .container {
    background-color: $color-surface;
    border: 1px solid $color-border;
    padding: 1rem 3rem;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    .hero {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      color: $color-text-secondary;
    }

    .content {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .name {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      .email,
      .role {
        color: $color-text-secondary;
      }
    }
  }

  .action {
    padding: 1rem;
    border: 1px solid $color-border;
    background-color: $color-surface;
    border-radius: 0.7rem;
    display: flex;
    gap: 0.5rem;

    button {
      padding: 0.7rem;
      border: none;
      border-radius: 0.7rem;
      background-color: $color-button;
      color: $color-text-white;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }

    button:hover {
      background-color: $color-button-hover;
    }
  }

  .section {
    background-color: $color-surface;
    border: 1px solid $color-border;
    padding: 1rem;
    border-radius: 0.7rem;
    height: fit-content;
  }
}
