$color-background: #f2f3f4;
$color-surface: #fff;
$color-background-black: #111111;

$color-border: #c0c0c0;
$color-border-black: #111111;

$color-overlay: rgba(0, 0, 0, 0.5);

$color-success: #03c03c;
$color-success-background: #F0FFF0;
$color-success-background-hover: #ACE1AF;
$color-warning: #d97706;
$color-warning-background: #fefbf2;
$color-warning-background-hover: #fef3e2;
$color-danger: #ff0800;
$color-danger-bachground: #ffe4e1;
$color-danger-bachground-hover: #fdbcb4;

$color-primary: #2563eb;
$color-primary-dark: #1d4ed8;

$color-label: #334155;

$color-input-border: #c0c0c0;
$color-input-focus: #2a3439;
$color-input-focus-shadow: 0 0 0 3px rgba(100, 116, 139, 0.12);
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

$color-button: #111111;
$color-button-white: #fff;
$color-button-hover: #414a4c;
$color-button-white-hover: #f5f5f5;

$color-text: #111111;
$color-text-white: #fff;
$color-text-secondary: #555d50;
