@use "../../../styles/variables.scss" as *;

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1rem;
  border: 1px solid $color-border;
  border-radius: 0.7rem;
  background-color: $color-surface;

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .name {
      font-weight: 600;
    }

    .email {
      color: $color-text-secondary;
      font-size: 0.8rem;
    }
  }

  .action {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .role {
      padding: 0.4rem 0.6rem;
      border-radius: 999px;
      font-size: 0.8rem;
      font-weight: 600;
      text-transform: capitalize;
      background-color: $color-background-black;
      color: $color-text-white;
    }

    .deleteButton {
      padding: 0.4rem 0.6rem;
      border: 1px solid $color-danger;
      border-radius: 999px;
      font-size: 0.7rem;
      font-weight: 600;
      cursor: pointer;
      color: $color-danger;
      background: $color-danger-bachground;
      transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
    }

    .deleteButton:hover {
      background: $color-danger-bachground-hover;
    }
  }
}

