@use "../../styles/variables.scss" as *;

.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .subtitle {
      color: $color-text-secondary;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .action {
      border: 1px solid $color-border;
      border-radius: 0.7rem;
      background-color: $color-surface;
      padding: 1.5rem;

      .addProject {
        padding: 0.4rem 0.6rem;
        border-radius: 0.7rem;
        border: 1px solid $color-success;
        background-color: $color-success-background;
        color: $color-success;
        cursor: pointer;
        transition:
          transform 0.2s ease,
          background-color 0.2s ease;
      }

      .addProject:hover {
        background-color: $color-success-background-hover;
        transform: translateY(1px);
      }
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;
      border: 1px solid $color-border;
      border-radius: 0.7rem;
      background-color: $color-surface;
    }
  }
}
