@use "../../../styles/variables" as *;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: block;
  border: 3px solid $color-border;
  border-top-color: $color-primary;
  border-radius: $radius-full;
  animation: spin 0.7s linear infinite;
}

.sm {
  width: 20px;
  height: 20px;
}

.md {
  width: 32px;
  height: 32px;
}

.lg {
  width: 48px;
  height: 48px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
