@use "../../styles/variables.scss" as *;

.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .subtitle {
      color: $color-text-secondary;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .formSection,
    .listSection {
      padding: 1.5rem;
      background-color: $color-surface;
      border: 1px solid $color-border;
      border-radius: 0.7rem;
      height: max-content;

      .addMember {
        padding: 0.4rem 0.6rem;
        border-radius: 0.7rem;
        border: 1px solid $color-success;
        background-color: $color-success-background;
        color: $color-success;
        cursor: pointer;
        transition:
          transform 0.2s ease,
          background-color 0.2s ease;
      }

      .addMember:hover {
        background-color: $color-success-background-hover;
        transform: translateY(1px);
      }
    }
  }
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;

    .formSection,
    .listSection {
      width: 100% !important;
    }
  }
}
